<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/cliente/**" access="ROLE_CLIENTE , ROLE_ADMINISTRADOR" />
		<form-login login-page="/home.xhtml"
			always-use-default-target="true" authentication-success-handler-ref="successHandler"
			authentication-failure-url="/login.xhtml?login_error=1" />
		<logout logout-success-url="/home.xhtml" />
		<remember-me />
	</http>
	<beans:bean id="successHandler" class="negocio.LoginController"></beans:bean>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="BDLojaVirtualDataSource"
				authorities-by-username-query="SELECT nome, tipo FROM pessoa WHERE login = ? "
				users-by-username-query="SELECT login, senha, '1' FROM pessoa WHERE login = ? " />
		</authentication-provider>
	</authentication-manager>
</beans:beans>